{% extends 'base.html.twig' %}

{% block title %}OMNITECHNIQUE | Présentation{% endblock %}

{% block header %}
    <div class="lg:h-[50vh] h-[40vh] w-full flex flex-col justify-center items-center relative">
        <video autoplay muted loop class="h-full w-full object-cover absolute -z-10">
            <source src="{{ asset("build/videos/bg.mp4") }}" type="video/mp4" class="h-full w-full">
        </video>
        <div class="w-full flex flex-col justify-center items-center space-y-10">
            <img src="{{ asset("build/images/logo.png") }}" alt="Logo Omnitechnique" class="lg:w-1/3 w-3/4">
            <h1 class="text-white font-bold lg:text-7xl text-4xl text-center px-4">NOTRE HISTOIRE</h1>
        </div>
    </div>
{% endblock %} 

{% block body %}
    <div class="w-5/6 flex lg:flex-row flex-col-reverse items-center justify-between lg:space-x-6 lg:mt-44 mt-20">
        <div class="lg:w-1/2 w-full flex flex-col items-center justify-center h-full relative lg:mt-0 mt-8">
            <img src="{{ asset("build/images/pres1.png") }}" alt="Image présentation" class="lg:w-1/2 w-5/6 -skew-x-6">
            <div class="absolute lg:w-1/2 w-5/6 h-full border-8 border-[#D7D960] -skew-x-6 mt-16 mr-16 -z-10"></div>
        </div>

        <div class="lg:w-1/2 w-full flex flex-col items-center space-y-10">
            <div class="font-bold lg:text-5xl text-3xl relative flex justify-center items-center">
                <h2 class="ombrage">OMNITECHNIQUE, C'EST QUOI ?</h2>
                <div class="absolute -z-10 lg:-left-5 -left-2 bg-[#D7D960] lg:w-16 w-10 lg:h-20 h-12 shadow-xl formes"></div>
            </div>
            <p>Avec notre gamme complète de solutions, comprenant le centre d'usinage, le tournage, la robotique, l'électroérosion et le laser, nous sommes là pour vous accompagner dans tous vos projets industriels.<br><br>
            En plus de nos machines-outils, nous vous proposons plusieurs services pour répondre à vos besoins spécifiques.</p>
        </div>
    </div>

    <div class="w-full flex flex-row items-center justify-center lg:mt-44 mt-24 lg:py-20 py-16 relative">
        <img src="{{ asset("build/images/bg-bleu.png") }}" alt="Background bleu" class="h-full w-full object-cover absolute -z-10">
        <div class="w-5/6 bg-white/60 flex justify-center items-center py-8 px-5 text-white font-semibold lg:text-3xl text-2xl relative">
            <img src="{{ asset("build/images/guillemets.png") }}" alt="Guillemets" class="absolute left-0 top-0 ml-2 -mt-6 lg:w-16 w-12">
            <p>QUAND POLYVALENCE RIME AVEC PERFORMANCE DEPUIS 1991</p>
            <img src="{{ asset("build/images/guillemets2.png") }}" alt="Guillemets" class="absolute right-0 bottom-0 mr-2 -mb-6 lg:w-16 w-12">
        </div>
    </div>

    <div class="w-5/6 flex lg:flex-row flex-col items-center justify-between lg:space-x-6 space-y-8 lg:mt-44 mt-20">
        <div class="lg:w-1/2 w-full flex flex-col items-center space-y-10">
            <div class="font-bold lg:text-5xl text-3xl relative flex justify-center items-center">
                <h2 class="ombrage">NOS SERVICES</h2>
                <div class="absolute -z-10 lg:-left-5 -left-2 bg-[#D7D960] lg:w-16 w-10 lg:h-20 h-12 shadow-xl formes"></div>
            </div>
            <p><span class="font-bold text-[#294690]">Devis</span> : Obtenez une estimation claire et détaillée de vos projets grâce à notre service de devis sur mesure.<br><br>
                <span class="font-bold text-[#294690]">Industrialisation faisabilité</span> : Nous vous aidons à concrétiser votre vision en évaluant la faisabilité technique et en optimisant vos processus de production.<br><br>
                <span class="font-bold text-[#294690]">Installation</span> : Notre équipe d'experts qualifiés s'occupera de l'installation de vos équipements.<br><br>
                <span class="font-bold text-[#294690]">Formation</span> : Assurez-vous que votre personnel maîtrise pleinement les technologies et les procédures en bénéficiant de nos programmes de formation.<br><br>
                <span class="font-bold text-[#294690]">Maintenance</span> : Gardez vos équipements en parfait état de fonctionnement grâce à notre service de maintenance préventive et corrective.<br><br>
                <span class="font-bold text-[#294690]">Rétrofit machine</span> : Modernisez vos machines existantes pour améliorer leurs performances, leur sécurité et leur productivité.</p>
        </div>

        <div class="lg:w-1/2 w-full flex flex-col items-center justify-center h-full relative">
            <img src="{{ asset("build/images/pres2.png") }}" alt="Image présentation" class="lg:w-1/2 w-5/6 -skew-x-6">
            <div class="absolute lg:w-1/2 w-5/6 h-full border-8 border-[#D7D960] -skew-x-6 mt-16 ml-16 -z-10"></div>
        </div>
    </div>

    <div class="w-5/6 flex lg:flex-row flex-col-reverse items-center justify-between lg:space-x-6 lg:mt-32 mt-24">
        <div class="lg:w-1/2 w-full flex flex-col items-center justify-center h-full relative mt-10">
            <img src="{{ asset("build/images/ardennescn.png") }}" alt="Image présentation" class="lg:w-3/4 w-5/6 skew-y-6">
            <div class="absolute lg:w-3/4 w-5/6 h-full border-8 border-[#D7D960] skew-y-6 mt-16 ml-16 -z-10"></div>
        </div>

        <div class="lg:w-1/2 w-full flex flex-col items-center space-y-10">
            <div class="flex items-center justify-center lg:w-1/6 w-1/3">
                <img src="{{ asset("build/images/logo-ardennes-cn.png") }}" alt="Logo Ardennes CN">
            </div>
            <p>La création de la société Ardennes CN Programmation remonte à la fin de l’année 1991. A l’origine de cette société, M. François Clarin était alors employé au service commercial d’un grand groupe de logiciels CFAO, le groupe MISSLER. Ardennes CN, c’est un bâtiment de production de 5000m² à Nouzonville dans les Ardennes.</p>
            <div class="text-white lg:text-3xl text-2xl">
                <a href="https://www.ardennes-cn.com/" target="_blank" class="lg:py-3 lg:px-8 py-2 px-6 bg-[#294690] rounded-full">Ardennes CN</a>
            </div>
        </div>
    </div>
    <div class="w-5/6 flex flex-col justify-center items-center lg:mt-28 mt-20 lg:text-4xl text-2xl space-y-2">
        <p>Z.A. DEVANT NOUZON - 08700 NOUZONVILLE</p>
        <p>03 24 59 02 89 | contact@ardennes-cn.com</p>
    </div>
    <div class="w-full mt-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d883.6653597913189!2d4.729793852763718!3d49.81798991536582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ea0e9f1da94c2b%3A0x587266ffa80dcb60!2sArdennes%20CN!5e0!3m2!1sfr!2sfr!4v1684155331379!5m2!1sfr!2sfr" class="w-full"></iframe>
    </div>
{% endblock %}
