{% extends 'base.html.twig' %}

{% block title %}OMNITECHNIQUE | Groupe Ardennes CN{% endblock %}

{% block header %}
    <div class="md:h-[90vh] h-[50vh] w-full flex justify-center items-center relative">
        <video autoplay muted loop class="h-full w-full object-cover absolute">
            <source src="{{ asset("build/videos/bg.mp4") }}" type="video/mp4" class="h-full w-full">
        </video>
        <img src="{{ asset("build/images/logo.png") }}" alt="Logo Omnitechnique" class="z-10">
    </div>
{% endblock %} 

{% block body %}
    <div class="w-5/6 flex lg:flex-row flex-col items-center justify-between lg:space-x-6 lg:space-y-0 space-y-8 lg:mt-44 mt-16">
        <div class="lg:w-1/2 w-full flex flex-col items-center space-y-10">
            <div class="font-bold lg:text-5xl text-3xl relative flex justify-center items-center">
                <h2 class="ombrage">QUI SOMMES-NOUS ?</h2>
                <div class="absolute -z-10 lg:-left-5 -left-2 bg-[#D7D960] lg:w-16 w-10 lg:h-20 h-12 shadow-xl formes"></div>
            </div>
            <p>En 2017, Omnitechnique machines outils intègre le groupe Ardennes CN et permet ainsi de nous donner un essor national.</p>
            <div class="text-white lg:text-3xl text-2xl">
                <a href="{{ path('app_presentation') }}" class="lg:py-3 py-2 lg:px-8 px-6 bg-[#294690] rounded-full">En savoir plus</a>
            </div>
        </div>

        <div class="lg:w-1/2 w-full flex flex-col items-center justify-center h-full relative">
            <img src="{{ asset("build/images/pres.png") }}" alt="Image présentation" class="lg:w-3/4 w-5/6 skew-y-6">
            <div class="absolute lg:w-3/4 w-5/6 h-full border-8 border-[#D7D960] skew-y-6 mt-16 ml-16 -z-10"></div>
        </div>
    </div>

    <div class="w-full flex items-center justify-center relative lg:mt-44 mt-20">
        <div class="w-full h-full absolute -z-40 mt-40">
            <img src="{{ asset("build/images/bg-services.png") }}" alt="Background services" class="w-full h-full object-cover">
        </div>
        <div class="w-5/6 grid lg:grid-cols-3 grid-cols-1 lg:gap-10 gap-6">
            <div class="bg-[#D7D960] p-5 row-span-2 flex flex-col items-start lg:space-y-10 space-y-6 min-h-[30rem]">
                <div class="font-bold lg:text-4xl text-3xl relative flex justify-center items-center mt-5 ml-5">
                    <a href="{{ path('app_produits') }}" title="Produits" class="ombrage z-10">NOS PRODUITS</a>
                    <div class="absolute lg:-left-5 -left-2 bg-white lg:w-12 w-8 lg:h-16 h-12 shadow-xl formes"></div>
                </div>
                <p>Découvrez nos gammes de produits pour le centre d'usinage, le tournage, ainsi que pour l'électroérosion.<br>
                Différents modèles sont disponnibles, et pour plus d'informations contatez-nous.</p>
                <ul class="text-[#294690] lg:text-2xl text-xl font-semibold list-disc list-inside">
                    <li class="ombrage">FABRICATION</li>
                    <li class="ombrage">EQUIPEMENT</li>
                    <li class="ombrage">ROBOTIQUE</li>
                </ul>
            </div>
            <div class="lg:row-span-2 row-span-1 lg:min-h-[30rem] max-h-60">
                <img src="{{ asset("build/images/grid1.png") }}" alt="Image présentation" class="w-full h-full object-cover">
            </div>
            <div class="max-h-60">
                <img src="{{ asset("build/images/grid2.png") }}" alt="Image présentation" class="w-full h-full object-cover">
            </div>
            <div class="bg-white p-5 row-span-2 flex flex-col items-start lg:space-y-10 space-y-6 min-h-[30rem]">
                <div class="font-bold lg:text-4xl text-3xl relative flex justify-center items-center mt-5 ml-5">
                    <a href="{{ path('app_services') }}" title="Produits" class="ombrage z-40">NOS SERVICES</a>
                    <div class="absolute lg:-left-5 z-10 -left-2 bg-[#D7D960] lg:w-12 w-8 lg:h-16 h-12 shadow-xl formes"></div>
                </div>
                <p>Nous mettons à votre disposition ses compétences en maintenance curative et préventive, sur notre site. Nous intervenons dans différents domaines industriels sur des machines-outils toutes marques équipées de commande numérique.</p>
                <ul class="text-[#294690] lg:text-2xl text-xl font-semibold list-disc list-inside">
                    <li class="ombrage">FORMATION</li>
                    <li class="ombrage">MAINTENANCE</li>
                    <li class="ombrage">SAV</li>
                </ul>
            </div>
            <div class="max-h-60">
                <img src="{{ asset("build/images/grid3.png") }}" alt="Image présentation" class="w-full h-full object-cover">
            </div>
            <div class="max-h-60">
                <img src="{{ asset("build/images/grid4.png") }}" alt="Image présentation" class="w-full h-full object-cover">
            </div>
        </div>
    </div>
 
    <div class="w-5/6 flex lg:flex-row flex-col-reverse items-center justify-between lg:space-x-6 lg:mt-44 mt-32 mb-24">
        <div class="lg:w-1/2 w-full flex flex-col items-center justify-center h-full relative mt-10">
            <img src="{{ asset("build/images/ardennescn.png") }}" alt="Image présentation" class="lg:w-3/4 w-5/6 skew-y-6">
            <div class="absolute lg:w-3/4 w-5/6 h-full border-8 border-[#D7D960] skew-y-6 mt-16 ml-16 -z-10"></div>
        </div>

        <div class="lg:w-1/2 w-full flex flex-col items-center space-y-10">
            <div class="flex items-center justify-center lg:w-1/6 w-1/3">
                <img src="{{ asset("build/images/logo-ardennes-cn.png") }}" alt="Logo Ardennes CN">
            </div>
                <p>La création de la société Ardennes CN Programmation remonte à la fin de l’année 1991. A l’origine de cette société, M. François Clarin était alors employé au service commercial d’un grand groupe de logiciels CFAO, le groupe MISSLER. Ardennes CN, c’est un bâtiment de production de 5000m² à Nouzonville dans les Ardennes.</p>
            <div class="text-white lg:text-3xl text-2xl">
                <a href="https://www.ardennes-cn.com/" target="_blank" class="lg:py-3 lg:px-8 py-2 px-6 bg-[#294690] rounded-full">Ardennes CN</a>
            </div>
        </div>
    </div>

    {# <div class="w-full flex flex-col items-center lg:mt-44 mt-32 h-full relative">
        <div class="absolute w-1/3 h-1/2 border-8 border-[#D7D960] skew-y-6 -z-10 top-0 right-0"></div>
        <div class="absolute w-1/3 h-1/2 border-8 border-[#D7D960] skew-y-6 -z-10 bottom-0 left-0"></div>
        <div class="w-5/6 flex flex-col items-start space-y-10">
            <div class="font-bold lg:text-5xl text-3xl relative flex justify-center items-center">
                <h2 class="ombrage">NOS OCCASIONS</h2>
                <div class="absolute -z-10 lg:-left-5 -left-2 bg-[#D7D960] lg:w-16 w-10 lg:h-20 h-12 shadow-xl formes"></div>
            </div>
            <div class="w-full flex justify-center">
                <div class="lg:w-5/6 w-11/12 recrutement">
                    {% for vente in ventes|slice(-6)|reverse %}
                    <div class="flex justify-center items-center">
                        <div class="flex flex-col w-11/12">
                            {% if vente.quality == 1 %}
                                <div class="w-full border-[12px] border-[#294690]">
                                    <img src="{{ asset(base_path ~ '/' ~ vente.image) }}" alt="Image présentation" class="w-full h-48 object-cover">
                                </div>
                            {% else %}
                                <div class="w-full border-[12px] border-[#D7D960]">
                                    <img src="{{ asset(base_path ~ '/' ~ vente.image) }}" alt="Image présentation" class="w-full h-48 object-cover">
                                </div>
                            {% endif %}
                            <div class="w-full bg-[#EFEFEF] lg:py-6 py-4 lg:px-4 px-2 flex flex-col space-y-4">
                                <div class="flex flex-row justify-between items-center font-medium">
                                    <h3 class="lg:text-3xl text-2xl">{{ vente.title }}</h3>
                                    <p>{{ vente.price }} €</p>
                                </div>
                                <div class="line-clamp-3">
                                    {{ vente.description|raw }}
                                </div>
                                <div class="w-full flex justify-center">
                                    <a href="{{ path('app_vente', {'id': vente.id}) }}" class="flex items-center justify-center bg-[#D7D960] rounded-lg px-3 py-1">EN SAVOIR PLUS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="text-white lg:text-3xl text-2xl w-full flex justify-center">
                <a href="{{ path('app_ventes') }}" class="lg:py-3 lg:px-8 py-2 px-6 bg-[#294690] rounded-full">Voir toutes les ventes</a>
            </div>
        </div>
    </div> #}

    <div class="w-full flex flex-col items-center h-full relative py-5">
        <img src="{{ asset("build/images/bg.png") }}" alt="Background" class="absolute w-full h-3/4 object-cover object-top bg-[#294690] -z-20 bottom-0 skew-y-3">
        <div class="lg:w-2/3 w-5/6 flex flex-col items-center mb-16">
            <div class="font-bold lg:text-5xl text-3xl relative flex justify-center items-center">
                <h2 class="ombrage">NOS ACTUALITÉS</h2>
                <div class="absolute -z-10 lg:-left-5 -left-2 bg-[#D7D960] lg:w-16 w-10 lg:h-20 h-12 shadow-xl formes"></div>
            </div>
        </div>
        <div class="lg:w-2/3 w-5/6 grid grid-rows-3 gap-y-10">
            {% for new in news|slice(-3)|reverse %}
                <div class="w-full flex flex-row items-end justify-center max-h-[290px]">
                    <div class="w-1/4 h-full skew-y-6">
                        <img src="{{ asset(base_path ~ '/' ~ new.image) }}" alt="Image présentation" class="w-full h-full object-cover">
                    </div>
                    <div class="w-3/4 h-full lg:px-4 lg:py-6 px-2 py-3 flex flex-col items-start space-y-2 bg-[#EFECEF] relative">
                        <h3 class="uppercase text-[#294690] font-bold lg:text-2xl text-xl">{{ new.title }}</h3>
                        <h2 class="text-[#D7D960] font-semibold">{{ new.subtitle }}</h2>
                        <div class="line-clamp-3 lg:block hidden">
                            {{ new.description|raw }}
                        </div>
                        <p class="text-lg text-gray-500 capitalize">{{ new.newsCategory.name }} | {{ new.updatedat|format_datetime(locale='fr', pattern='dd MMMM YYYY') }}</p>
                        <div class="absolute right-0 lg:bottom-0 -bottom-5">
                            <a href="{{ path('app_actualite', {'id': new.id}) }}" class="bg-[#D7D960] rounded-full py-2 px-8 -mr-4">En savoir plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-[#294690] lg:text-3xl text-2xl mt-16">
            <a href="{{ path('app_actualites') }}" class="lg:py-3 lg:px-8 py-2 px-6 bg-white rounded-full">En voir plus</a>
        </div>
        <div class="w-5/6 flex flex-col justify-center items-center lg:text-4xl text-2xl text-center font-bold lg:space-y-2 space-y-6 lg:pt-28 pt-12 pb-12 text-white">
            <p>POUR TOUTES DEMANDES D'INFORMATION,</p>
            <p>CONTACTEZ-NOUS !</p>
        </div>
    </div>
    <div class="w-5/6 flex flex-col justify-center items-center mt-10 lg:text-4xl text-2xl text-center space-y-2">
        <p>Z.A. DEVANT NOUZON - 08700 NOUZONVILLE</p>
        <p>03 24 59 02 89 | contact@ardennes-cn.com</p>
    </div>
    <div class="w-full mt-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d883.6653597913189!2d4.729793852763718!3d49.81798991536582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ea0e9f1da94c2b%3A0x587266ffa80dcb60!2sArdennes%20CN!5e0!3m2!1sfr!2sfr!4v1684155331379!5m2!1sfr!2sfr" class="w-full"></iframe>
    </div>
{% endblock %}
