{% extends 'base.html.twig' %}

{% block title %}OMNITECHNIQUE | Groupe Ardennes CN{% endblock %}

{% block header %}
    <div class="h-[90vh] w-full flex justify-center items-center relative">
        <video autoplay muted loop class="h-full w-full object-cover absolute">
            <source src="{{ asset("build/videos/bg.mp4") }}" type="video/mp4" class="h-full w-full">
        </video>
        <img src="{{ asset("build/images/logo.png") }}" alt="Logo Omnitechnique" class="z-10">
    </div>
{% endblock %} 

{% block body %}
    <div class="w-5/6 flex flex-row items-center justify-between space-x-6 mt-44">
        <div class="w-1/2 flex flex-col items-center space-y-10">
            <div class="font-bold text-5xl relative flex justify-center items-center">
                <h2 class="ombrage">QUI SOMMES-NOUS ?</h2>
                <div class="absolute -z-10 -left-5 bg-[#D7D960] w-16 h-20 shadow-xl formes"></div>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi commodi inventore nesciunt neque quos repellendus perspiciatis, sunt debitis ipsa voluptate possimus aut placeat fugiat aliquid reiciendis voluptates ut. Architecto, distinctio?
            Ex obcaecati sint soluta eius non aliquid accusamus esse explicabo libero exercitationem laborum sunt sed optio fuga vel perspiciatis nobis, sapiente illo vitae, quia quaerat tempora modi neque. Dolores, impedit?</p>
            <div class="text-white text-3xl">
                <a href="" class="py-3 px-8 bg-[#294690] rounded-full">En savoir plus</a>
            </div>
        </div>

        <div class="w-1/2 flex flex-col items-center justify-center h-full relative">
            <img src="{{ asset("build/images/pres.png") }}" alt="Image présentation" class="w-3/4 skew-y-6">
            <div class="absolute w-3/4 h-full border-8 border-[#D7D960] skew-y-6 mt-16 ml-16 -z-10"></div>
        </div>
    </div>

    <div class="w-full flex items-center justify-center relative mt-44">
        <div class="w-full h-full absolute -z-40 mt-40">
            <img src="{{ asset("build/images/bg-services.png") }}" alt="Background services" class="w-full h-full object-cover">
        </div>
        <div class="w-5/6 grid grid-cols-3 gap-10">
            <div class="bg-[#D7D960] p-5 row-span-2 -z-30 flex flex-col items-start space-y-10 min-h-[30rem]">
                <div class="font-bold text-4xl relative flex justify-center items-center mt-5 ml-5">
                    <h2 class="ombrage">NOS PRODUITS</h2>
                    <div class="absolute -z-10 -left-5 bg-white w-12 h-16 shadow-xl formes"></div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, quisquam sapiente nihil voluptatum earum delectus? Blanditiis ullam incidunt eveniet? At distinctio ut voluptatem delectus tempore enim hic, aperiam incidunt inventore.</p>
                <ul class="text-[#294690] text-2xl font-semibold list-disc list-inside">
                    <li class="ombrage">FABRICATION</li>
                    <li class="ombrage">EQUIPEMENT</li>
                    <li class="ombrage">ROBOTIQUE</li>
                </ul>
            </div>
            <div class="row-span-2 min-h-[30rem]">
                <img src="{{ asset("build/images/pres.png") }}" alt="Image présentation" class="w-full h-full object-cover">
            </div>
            <div class="max-h-60">
                <img src="{{ asset("build/images/pres.png") }}" alt="Image présentation" class="w-full h-full object-cover">
            </div>
            <div class="bg-white p-5 row-span-2 -z-30 flex flex-col items-start space-y-10 min-h-[30rem]">
                <div class="font-bold text-4xl relative flex justify-center items-center mt-5 ml-5">
                    <h2 class="ombrage">NOS SERVICES</h2>
                    <div class="absolute -z-10 -left-5 bg-[#D7D960] w-12 h-16 shadow-xl formes"></div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, quisquam sapiente nihil voluptatum earum delectus? Blanditiis ullam incidunt eveniet? At distinctio ut voluptatem delectus tempore enim hic, aperiam incidunt inventore.</p>
                <ul class="text-[#294690] text-2xl font-semibold list-disc list-inside">
                    <li class="ombrage">FORMATION</li>
                    <li class="ombrage">MAINTENANCE</li>
                    <li class="ombrage">SAV</li>
                </ul>
            </div>
            <div class="max-h-60">
                <img src="{{ asset("build/images/pres.png") }}" alt="Image présentation" class="w-full h-full object-cover">
            </div>
            <div class="max-h-60">
                <img src="{{ asset("build/images/pres.png") }}" alt="Image présentation" class="w-full h-full object-cover">
            </div>
        </div>
    </div>

    <div class="w-5/6 flex flex-row items-center justify-between space-x-6 mt-44">
        <div class="w-1/2 flex flex-col items-center justify-center h-full relative">
            <img src="{{ asset("build/images/pres.png") }}" alt="Image présentation" class="w-3/4 skew-y-6">
            <div class="absolute w-3/4 h-full border-8 border-[#D7D960] skew-y-6 mt-16 ml-16 -z-10"></div>
        </div>

        <div class="w-1/2 flex flex-col items-center space-y-10">
            <div class="flex items-center justify-center w-1/6">
                <img src="{{ asset("build/images/logo-ardennes-cn.png") }}" alt="Logo Ardennes CN">
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi commodi inventore nesciunt neque quos repellendus perspiciatis, sunt debitis ipsa voluptate possimus aut placeat fugiat aliquid reiciendis voluptates ut. Architecto, distinctio?
            Ex obcaecati sint soluta eius non aliquid accusamus esse explicabo libero exercitationem laborum sunt sed optio fuga vel perspiciatis nobis, sapiente illo vitae, quia quaerat tempora modi neque. Dolores, impedit?</p>
            <div class="text-white text-3xl">
                <a href="https://www.ardennes-cn.com/" class="py-3 px-8 bg-[#294690] rounded-full">Ardennes CN</a>
            </div>
        </div>
    </div>

    <div class="w-full flex flex-col items-center mt-44 h-full relative">
        <div class="absolute w-1/3 h-1/2 border-8 border-[#D7D960] skew-y-6 -z-10 top-0 right-0"></div>
        <div class="absolute w-1/3 h-1/2 border-8 border-[#D7D960] skew-y-6 -z-10 bottom-0 left-0"></div>
        <div class="w-5/6 flex flex-col items-start space-y-10">
            <div class="font-bold text-5xl relative flex justify-center items-center">
                <h2 class="ombrage">NOS OCCASIONS</h2>
                <div class="absolute -z-10 -left-5 bg-[#D7D960] w-16 h-20 shadow-xl formes"></div>
            </div>
            <div class="h-[40vh]">

            </div>
        </div>
    </div>

    <div class="w-full flex flex-col items-center mt-44 h-full relative">
        <div class="absolute w-full h-3/4 bg-[#294690] -z-20 bottom-0 skew-y-3">
            <img src="{{ asset("build/images/bg.png") }}" alt="Background" class="w-full h-full object-cover object-top">
        </div>
        <div class="w-2/3 flex flex-col items-center space-y-20">
            <div class="font-bold text-5xl relative flex justify-center items-center">
                <h2 class="ombrage">NOS ACTUALITÉS</h2>
                <div class="absolute -z-10 -left-5 bg-[#D7D960] w-16 h-20 shadow-xl formes"></div>
            </div>
            <div class="grid grid-cols-1 w-full gap-10">
                <div class="w-full flex flex-row items-end justify-center">
                    <div class="w-1/4 h-full skew-y-6">
                        <img src="{{ asset("build/images/pres.png") }}" alt="Image présentation" class="w-full h-full">
                    </div>
                    <div class="w-3/4 h-full p-4 flex flex-col items-start space-y-2 bg-[#EFECEF]">
                        <h3>ACTUALITÉ 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolor laborum nobis praesentium accusamus nostrum repudiandae incidunt temporibus sequi magnam adipisci accusantium possimus voluptas dolorum libero blanditiis, dicta, voluptatibus labore?</p>
                    </div>
                </div>
                <div class="w-full flex flex-row items-end justify-center">
                    <div class="w-1/4 h-full skew-y-6">
                        <img src="{{ asset("build/images/pres.png") }}" alt="Image présentation" class="w-full h-full">
                    </div>
                    <div class="w-3/4 h-full p-4 flex flex-col items-start space-y-2 bg-[#EFECEF]">
                        <h3>ACTUALITÉ 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolor laborum nobis praesentium accusamus nostrum repudiandae incidunt temporibus sequi magnam adipisci accusantium possimus voluptas dolorum libero blanditiis, dicta, voluptatibus labore?</p>
                    </div>
                </div>
                <div class="w-full flex flex-row items-end justify-center">
                    <div class="w-1/4 h-full skew-y-6">
                        <img src="{{ asset("build/images/pres.png") }}" alt="Image présentation" class="w-full h-full">
                    </div>
                    <div class="w-3/4 h-full p-4 flex flex-col items-start space-y-2 bg-[#EFECEF]">
                        <h3>ACTUALITÉ 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolor laborum nobis praesentium accusamus nostrum repudiandae incidunt temporibus sequi magnam adipisci accusantium possimus voluptas dolorum libero blanditiis, dicta, voluptatibus labore?</p>
                    </div>
                </div>
            </div>
            <div class="text-[#294690] text-3xl">
                <a href="" class="py-3 px-8 bg-white rounded-full">En voir plus</a>
            </div>
        </div>
        <div class="w-5/6 flex flex-col justify-center items-center text-4xl font-bold space-y-2 pt-28 pb-12 text-white">
            <p>POUR TOUTES DEMANDES D'INFORMATION,</p>
            <p>CONTACTEZ-NOUS !</p>
        </div>
    </div>

    <div class="w-5/6 flex flex-col justify-center items-center mt-10 text-4xl space-y-2">
        <p>Z.A. DEVANT NOUZON - 08700 NOUZONVILLE</p>
        <p>03 24 59 02 89 | contact@ardennes-cn.com</p>
    </div>
{% endblock %}
