{% extends 'base.html.twig' %}

{% block title %}OMNITECHNIQUE | Services{% endblock %}

{% block header %}
    <div class="lg:h-[50vh] h-[40vh] w-full flex flex-col justify-center items-center relative">
        <video autoplay muted loop class="h-full w-full object-cover absolute -z-10">
            <source src="{{ asset("build/videos/bg.mp4") }}" type="video/mp4" class="h-full w-full">
        </video>
        <div class="w-full flex flex-col justify-center items-center space-y-10">
            <img src="{{ asset("build/images/logo.png") }}" alt="Logo Omnitechnique" class="lg:w-1/3 w-3/4">
            <h1 class="text-white font-bold lg:text-7xl text-4xl text-center px-4">NOS SERVICES</h1>
        </div>
    </div>
{% endblock %} 

{% block body %}
    <div class="mb-4 w-[80%] flex justify-center items-center mt-8">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
            <li class="me-2" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
            </li>
            <li class="me-2" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</button>
            </li>
            <li class="me-2" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
            </li>
        </ul>
    </div>
    <div id="default-tab-content">
        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Profile tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
        </div>
        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
        </div>
        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
        </div>
    </div>
    <div class="w-5/6 flex flex-row items-center justify-center lg:space-x-10 lg:mt-32 mt-20">
        <div class="w-1/3 lg:flex hidden flex-col items-end justify-center h-full relative">
            <img src="{{ asset("build/images/serv.png") }}" alt="Image présentation" class="w-[90%] -skew-x-6">
        </div>

        <div class="lg:w-1/2 w-11/12 flex flex-col items-center lg:space-y-10 space-y-6">
            <div class="font-bold lg:text-5xl text-3xl relative flex justify-center items-center">
                <h2 class="text-[#D7D960]">UN SUIVI COMPLET</h2>
            </div>
            <div class="bg-[#294690] text-white py-6 lg:pr-6 px-6 flex flex-col space-y-2 extension relative flash">
                <p>La société Ardennes CN met à votre disposition ses compétences en maintenance curative et préventive, sur votre site.</p>
                <p>Nous intervenons dans différents domaines industriels sur des machines-outils de toutes marques équipées de commandes numériques (tours, fraiseuses UGV 3 et 5 axes, aléseuses, centres d’usinage).</p>
                <h3 class="lg:text-2xl text-xl text-[#D7D960] font-semibold">SIEMENS, HEIDENHAIN, FANUC, FAGOR, NUM.</h3>
                <div class="absolute w-full h-full border-y-8 border-y-[#D7D960] border-r-8 border-r-[#D7D960] lg:border-l-0 border-l-8 border-l-[#D7D960] mt-16 lg:ml-2 ml-4 -z-10"></div>
            </div>
        </div>
    </div>

    <div class="w-5/6 flex flex-col mt-20 space-y-6">
        <div class="flex flex-col items-center w-full space-y-4">
            <p class="w-full">Nos techniciens sont compétents pour assurer la maintenance électronique, électrique, hydraulique, mécanique et géométrique de vos machines. Nous vous proposons les prestations suivantes : </p>
            <div class="flex lg:flex-row flex-col w-5/6 font-semibold text-[#294690]">
                <ul class="list-disc list-inside lg:w-[40%] w-full">
                    <li>INSTALLATION</li>
                    <li>MISE EN SERVICE</li>
                    <li>ASSISTANCE TÉLÉPHONIQUE</li>
                    <li>DEVIS</li>
                    <li>PIÈCES DÉTACHÉES</li>
                </ul>
                <ul class="list-disc list-inside lg:w-[60%] w-full">
                    <li>RÉPARATIONS SOUS ET HORS GARANTIE</li>
                    <li>DÉPANNAGE SUR SITE</li>
                    <li>MODIFICATION ET/OU MISE EN PLACE D'OPTIONS</li>
                    <li>RÉTROFIT MACHINE</li>
                    <li>GRATTAGE TRANSFERT ET DÉMÉNAGEMENT DE VOS ATELIERS</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-5/6 flex flex-row items-center justify-center lg:space-x-10 lg:mt-32 mt-20">
        <div class="lg:w-1/2 w-11/12 flex flex-col items-center lg:space-y-10 space-y-6">
            <div class="font-bold lg:text-5xl text-2xl relative flex flex-row justify-center items-center">
                <h2 class="text-[#D7D960]">FORMATION COMMANDES NUMÉRIQUES</h2>
                <img src="{{ asset("build/images/qualiopi.png") }}" alt="Qualiopi" class="w-[180px]">
            </div>
            <div class="bg-[#294690] text-white py-6 lg:pl-6 px-6 flex flex-col space-y-2 test relative flash">
                <p>Nous assurons l’initiation et le perfectionnement à la programmation ISO et conversationnel, sur beaucoup d’armoires CN en fraisage ou en tournage.</p>
                <p class="pt-4">Nos compétences :</p>
                <h3 class="lg:text-2xl text-xl text-[#D7D960] font-semibold">SIEMENS, HEIDENHAIN, FANUC, FAGOR, NUM.</h3>
                <div class="absolute w-full h-full border-y-8 border-y-[#D7D960] border-l-8 border-l-[#D7D960] lg:border-r-0 border-r-8 border-r-[#D7D960] mt-16 -ml-[3.5rem] -z-10"></div>
            </div>
        </div>

        <div class="w-1/3 lg:flex hidden flex-col items-end justify-center h-full relative">
            <img src="{{ asset("build/images/formation.png") }}" alt="Image présentation" class="w-[90%] -skew-x-6">
        </div>
    </div>

    <div class="flex lg:flex-row flex-col w-5/6 font-semibold text-[#294690] mt-20">
        <ul class="list-disc list-inside lg:w-3/4 w-full">
            <li>FRAISAGE DE 3 À 5 AXES ET TECHNOLOGIES USINAGE GRANDE VITESSE</li>
            <li>TOURNAGE 2 ET MULTI-AXES</li>
        </ul>
        <ul class="list-disc list-inside lg:w-1/4 w-full">
            <li>APPLICATIONS SUR MACHINES</li>
            <li>ELECTROÉROSION FIL</li>
        </ul>
    </div>

    <div class="w-5/6 flex flex-col mt-6 space-y-6">
        <p>En accord avec certains partenaires, fabricants de machines outils, nous assurons pour leur compte les formations manipulations et programmation machine : HURON (Fraisage UGV), EMCO, DOOSAN, JONHFORD et FANUC (Electro-érosion Fil).</p>
    </div>

    <div class="w-5/6 flex flex-col items-center lg:mt-32 mt-20 space-y-6">
        <div class="font-bold lg:text-5xl text-3xl relative flex justify-start items-center w-full">
            <h2 class="text-[#D7D960]">ASSISTANCE DE PROGRAMMATION</h2>
        </div>
        <p class="w-full">Nous aidons les entreprises à intégrer les nouvelles technologies :</p>
        <div class="flex lg:flex-row flex-col w-11/12 font-semibold text-[#294690] mt-12">
            <ul class="list-disc list-inside lg:w-[45%] w-full">
                <li>MISE EN ROUTE DE PROGRAMMATION SUR CN</li>
                <li>CONSEILS EN USINAGE</li>
                <li>ASSISTANCE SUR SITE</li>
            </ul>
            <ul class="list-disc list-inside lg:w-[55%] w-full">
                <li>FRAISAGE, TOURNAGE ET ÉLECTRO-ÉROSIONFIL</li>
                <li>CONSEIL ET FORMATION : SPÉCIALISTE USINAGE GRANDE VITESSE</li>
            </ul>
        </div>
    </div>

    <div class="w-5/6 flex lg:flex-row flex-col items-center justify-between mt-12 lg:space-y-0 space-y-6">
        <div class="lg:w-[45%] w-11/12 flex justify-start items-center">
            <img src="{{ asset("build/images/worknc.png") }}" alt="Worknc by hexagon" class="w-full">
        </div>
        <div class="lg:w-[45%] w-11/12] flex justify-start items-center">
            <img src="{{ asset("build/images/ordi.png") }}" alt="Exemple sur Ordinateur" class="w-full">
        </div>
    </div>
    <div class="w-5/6 flex flex-col justify-center items-center mt-10 lg:text-4xl text-2xl space-y-2">
        <p>Z.A. DEVANT NOUZON - 08700 NOUZONVILLE</p>
        <p>03 24 59 02 89 | contact@ardennes-cn.com</p>
    </div>
    <div class="w-full mt-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d883.6653597913189!2d4.729793852763718!3d49.81798991536582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ea0e9f1da94c2b%3A0x587266ffa80dcb60!2sArdennes%20CN!5e0!3m2!1sfr!2sfr!4v1684155331379!5m2!1sfr!2sfr" class="w-full"></iframe>
    </div>
{% endblock %}
