{% extends 'base.html.twig' %}

{% block title %}OMNITECHNIQUE | Ventes direct{% endblock %}

{% block header %}
    <div class="lg:h-[50vh] h-[40vh] w-full flex flex-col justify-center items-center relative">
        <video autoplay muted loop class="h-full w-full object-cover absolute -z-10">
            <source src="{{ asset("build/videos/bg.mp4") }}" type="video/mp4" class="h-full w-full">
        </video>
        <div class="w-full flex flex-col justify-center items-center space-y-10">
            <img src="{{ asset("build/images/logo.png") }}" alt="Logo Omnitechnique" class="lg:w-1/3 w-3/4">
            <h1 class="text-white font-bold lg:text-7xl text-4xl text-center px-4">NOS VENTES DIRECT</h1>
        </div>
    </div>
{% endblock %} 

{% block body %}
    <div class="lg:w-11/12 w-5/6 lg:mt-20 mt-12 flex lg:flex-row flex-col lg:justify-between space-y-6 lg:space-y-0">
        <div class="lg:w-1/4 w-full h-auto">
            <div class="p-4 bg-[#EFEFEF] "></div>
        </div>
        <div class="lg:w-[73%] w-full flex flex-col space-y-10">
            <div class="w-full flex flex-row items-center lg:text-4xl text-2xl font-semibold text-center">
                <a href="{{ path('app_neuf') }}" class="w-1/2 flex justify-center border-b-8 border-[#DFDFDF] text-[#DFDFDF] py-4 cursor-pointer hover:border-[#294690] hover:text-[#294690]">
                    <p>MACHINES NEUVES</p>
                </a>
                <a href="{{ path('app_occasion') }}" class="w-1/2 flex justify-center border-b-8 border-[#DFDFDF] text-[#DFDFDF] py-4 cursor-pointer hover:border-[#D7D960] hover:text-[#D7D960]">
                    <p>MACHINES D'OCCASIONS</p>
                </a>
            </div>
            <div class="grid lg:grid-cols-3 grid-cols-1 gap-8">
                {% for vente in ventes|reverse %}
                <div class="flex flex-col">
                    {% if vente.quality == 1 %}
                        <div class="w-full border-[12px] border-[#294690]">
                            <img src="{{ asset(base_path ~ '/' ~ vente.image) }}" alt="Image présentation" class="w-full h-full object-cover">
                        </div>
                    {% else %}
                        <div class="w-full border-[12px] border-[#D7D960]">
                            <img src="{{ asset(base_path ~ '/' ~ vente.image) }}" alt="Image présentation" class="w-full h-full object-cover">
                        </div>
                    {% endif %}
                    <div class="w-full bg-[#EFEFEF] lg:py-6 py-4 lg:px-4 px-2 flex flex-col space-y-4">
                        <div class="flex flex-row justify-between items-center font-medium">
                            <h3 class="lg:text-3xl text-2xl">{{ vente.title }}</h3>
                            <p>{{ vente.price }} €</p>
                        </div>
                        <div class="line-clamp-3">
                            {{ vente.description|raw }}
                        </div>
                        <div class="w-full flex justify-center">
                            <a href="{{ path('app_vente', {'id': vente.id}) }}" class="flex items-center justify-center bg-[#D7D960] rounded-lg px-3 py-1">EN SAVOIR PLUS</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="w-full flex justify-center my-8">
                <div class="navigation flex justify-content">
                    {{ knp_pagination_render(ventes) }}
                </div>
            </div>
        </div>
    </div>
    <div class="w-5/6 flex flex-col justify-center items-center mt-10 lg:text-4xl text-2xl space-y-2">
        <p>Z.A. DEVANT NOUZON - 08700 NOUZONVILLE</p>
        <p>03 24 59 02 89 | contact@ardennes-cn.com</p>
    </div>
    <div class="w-full mt-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d883.6653597913189!2d4.729793852763718!3d49.81798991536582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ea0e9f1da94c2b%3A0x587266ffa80dcb60!2sArdennes%20CN!5e0!3m2!1sfr!2sfr!4v1684155331379!5m2!1sfr!2sfr" class="w-full"></iframe>
    </div>
{% endblock %}