{% extends 'base.html.twig' %}

{% block title %}OMNITECHNIQUE | Contact{% endblock %}

{% block header %}
    <div class="lg:h-[50vh] h-[40vh] w-full flex flex-col justify-center items-center relative">
        <video autoplay muted loop class="h-full w-full object-cover absolute -z-10">
            <source src="{{ asset("build/videos/bg.mp4") }}" type="video/mp4" class="h-full w-full">
        </video>
        <div class="w-full flex flex-col justify-center items-center space-y-10">
            <img src="{{ asset("build/images/logo.png") }}" alt="Logo Omnitechnique" class="lg:w-1/3 w-3/4">
            <h1 class="text-white font-bold lg:text-7xl text-4xl text-center px-4">NOUS CONTACTER</h1>
        </div>
    </div>
{% endblock %} 

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="w-full bg-lime-200 text-green-800 flex justify-center py-2">
            {{ message }}
        </div>
    {% endfor %}

    <div class="w-full relative mt-20 mb-10 pb-16 flex flex-col items-center justify-center h-full">
        <img src="{{ asset("build/images/bgb.png") }}" alt="Background" class="w-full h-full object-cover object-top absolute -z-20">
        <div class="w-5/6 flex flex-col items-center justify-center">
            <h2 class="font-bold lg:text-5xl text-4xl ombrage p-8">POUR TOUTES DEMANDES D'INFORMATIONS, CONTACTEZ-NOUS !</h2>
            <div class="w-full grid lg:grid-cols-2 grid-cols-1 gap-4 mt-8">
                <div class="bg-[#D7D960] p-5 lg:text-4xl text-2xl lg:space-y-4 space-y-2 flex flex-col justify-center">
                    <p>Z.A. DEVANT NOUZON</p>
                    <p>08700 NOUZONVILLE</p>
                    <p>03 24 59 02 89</p>
                    <p>contact@ardennes-cn.com</p>
                </div>

                <div class="bg-[#294690] p-5 lg:space-y-8 space-y-6 row-span-2 text-white">
                    <h3 class="lg:text-4xl text-2xl font-medium">FORMULAIRE DE CONTACT</h3>
                    <div>
                        {{ form_start(form, {
                            'attr': {
                                'class': 'space-y-4'
                            }
                        }) }}
                        {{ form_row(form.name, {
                            'attr': {
                                'class': 'bg-[#294690] w-full flex flex-col p-1 border-2 border-white'
                            }
                        }) }}
                        {{ form_row(form.email, {
                            'attr': {
                                'class': 'bg-[#294690] w-full flex flex-col p-1 border-2 border-white'
                            }
                        }) }}
                        {{ form_row(form.subject, {
                            'attr': {
                                'class': 'bg-[#294690] w-full flex flex-col p-1 border-2 border-white'
                            }
                        }) }}
                        {{ form_row(form.message, {
                            'attr': {
                                'class': 'bg-[#294690] w-full flex flex-col p-1 border-2 border-white'
                            }
                        }) }}
                        <div class="flex flex-row">
                            {{ form_row(form.validate) }}
                            <p class="ml-2">En soumettant ce formulaire, j'accepte que les informations saisies soient exploitées dans le cadre de la demande de contact et de la relation commerciale qui peut en découler.*</p>
                        </div>
                        <div>
                            <p class="lg:text-base text-sm italic">Ce site est protégé par reCAPTCHA et la Politique de Confidentialité et les Conditions d'utilisation de Google.</p>
                            {{ form_row(form.submit, {
                                'attr': {
                                    'class': 'bg-[#294690] flex flex-col px-3 py-1 border-2 border-white hover:text-[#D7D960] hover:border-[#D7D960]'
                                }
                            }) }}
                            <p class="lg:text-base text-sm italic">*Champs obligatoires</p>
                        </div>
                        {{ form_row(form.captcha, {
                            'attr': {
                                'class': 'invisible'
                            }
                        }) }}
                        {{ form_end(form) }}
                    </div>
                </div>

                <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1891.7280913338552!2d4.729537808082268!3d49.81813180755217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ea0e9f1da94c2b%3A0x587266ffa80dcb60!2sArdennes%20CN!5e0!3m2!1sfr!2sfr!4v1685968548581!5m2!1sfr!2sfr" class="w-full h-full"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
